*{
	font-family: 'Playfair Display';
}
ul,h2{
	margin-top: 5px;
	margin-left: 130px;
	}
a {
    text-decoration: none;
    color: black; 
   } 
a:hover { 
    text-decoration: underline; 
    color: red; 
}